extends banking/admin/index.jade
- load render_bundle from webpack_loader
- load staticfiles

block head
    link(rel="stylesheet", href="{% static 'css/accordion.css' %}")
    link(rel="stylesheet", href="{% static 'css/dropdown.css' %}")
    script(type="text/javascript").
        // Parse given value from server.
        window.__INITIAL__ = JSON.parse('#{event}'.replace(/&quot;/g, '\"'))


block content
    .col-md-5#event(data-id="{{id}}")

    include banking/includes/participants.jade
    - render_bundle 'EventPage'
