extends banking/admin/index.jade
- load render_bundle from webpack_loader
- load staticfiles

block head
    link(rel="stylesheet", href="{% static 'css/accordion.css' %}")
    link(rel="stylesheet", href="{% static 'css/dropdown.css' %}")
    script(type="text/javascript").
        // Parse given value from server.
        function parse(data) { return JSON.parse(data.replace(/&quot;/g, '\"')) }
        window.__INITIAL__ = {
            event: parse('{{event}}'),
            users: parse('{{users}}'),
            fetching: false,
            error: ""
        }


block content
    .col-md-5#event(data-id="{{id}}")

    include banking/includes/participants.jade
    - render_bundle 'EventPage'
