extends banking/admin/index.jade
- load render_bundle from webpack_loader
- load staticfiles

block head
    link(rel="stylesheet", href="{% static 'css/accordion.css' %}")
    link(rel="stylesheet", href="{% static 'css/dropdown.css' %}")

block content
    .col-md-5#event(data-id="{{event.id}}")

    include banking/includes/participants.jade
    - render_bundle 'EventPage'
