extends "frontend/index.jade"
- load staticfiles
- load render_bundle from webpack_loader
block body
    div.container-fluid
        div.col-md-12
            div.panel.panel-default.auth-panel
                .panel-body#auth-form ...
    link(rel="stylesheet", href="{% static 'css/auth.css' %}")
    - render_bundle 'auth'
    - render_bundle 'bootstrap_js'
    - render_bundle 'jquery'
    script(type="text/javascript")
        | $(document).ready(function(){
        |     var token = window.localStorage.getItem('token');
        |     if (token!=undefined)
        |     {
        |         var user = window.localStorage.getItem('user');
        |         document.location.href = (JSON.parse(user).user.is_superuser ? '/admin/' : '/client/');
        |     }
        | });
