extends frontend/admin/index.jade
- load render_bundle from webpack_loader
- load staticfiles

block head
    link(rel="stylesheet", href="{% static 'css/accordion.css' %}")
    link(rel="stylesheet", href="{% static 'css/dropdown.css' %}")
    script(type="text/javascript").
        window.__INITIAL__ = {
            event: JSON.parse('{{event|safe}}'),
            users: JSON.parse('{{users|safe}}'),
            fetching: false,
            error: ""
        }


block content
    .col-md-5#event(data-id="{{id}}")

    include frontend/includes/participants.jade
    - render_bundle 'EventPage'
