- load staticfiles
- load render_bundle from webpack_loader
!!! 5
html
    head
        link(rel="stylesheet", href="{% static 'css/index.css' %}")
    body
        header
        article#root
        footer
        .scripts
            - render_bundle 'index'
            - render_bundle 'jquery'

